body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;

  font-weight: 600;
  text-align: center;
  padding: 2%;
  margin-bottom: 4rem;
  text-shadow: 0.5px 0.5px 25px #000000;
}
